# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
/Binaries/*
/Intermediate/*
/Core/Content/Shaders/Bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.vs/*
.idea/*

# Generated project files
*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
