# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled binaries
/Binaries/*
/Intermediate/*
/Core/Content/Shaders/Bin

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# IDE
.vs/*
.idea/*

# Generated project files
*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
