[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "ThirdParty/Imgui"]
	path = ThirdParty/Imgui
	url = https://github.com/ocornut/imgui
	branch = docking
